version: '2'
services:
  spark:
    image: mini-spark/spark
    ports:
      - "8080:8080"
      - "7077:7077"

  hdfs:
    image: mini-spark/hdfs
    environment:
        - HADOOP_VERSION
    ports:
      - "9000:9000"
      - "50010:50010"
