version: 2
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:bionic-scm
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build hdfs
          command: make build_hdfs
      - run:
          name: Test hdfs
          command: make test_hdfs
