version: 2
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:bionic-scm
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build hdfs
          command: make build_hdfs
      - run:
          name: Start hdfs
          command: |
            docker run -d --name hdfs mini-spark/hdfs
            docker exec hdfs curl --retry 5 --retry-connrefused http://localhost:50070
