version: '2'
services:
  hdfs:
    image: mini-spark/hdfs
    depends_on:
      - openioci
  openioci:
    image: openioci/runtime
    networks:
      default:
        ipv4_address: 172.23.0.2

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.23.0.0/16
